[submodule "libxml2object"]
	path = libxml2object
	url = https://github.com/247321453/Xml2Object.git
[submodule "libdialog"]
	path = libdialog
	url = https://github.com/247321453/FileDialog.git
[submodule "libfittextview"]
	path = libfittextview
	url = https://github.com/247321453/JustifyTextView.git
[submodule "libsettingsprovider"]
	path = libsettingsprovider
	url = https://github.com/247321453/SettingsProvider.git
